@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

@font-face {
    font-family: "cairo";
    src: url("./fonts/Cairo-Regular.woff")
        format("woff");
      /* url("./fonts/fontsfree-net-sfprotext-regular-webfont.woff2") format("woff2"); */
    font-weight: normal;
    font-style: normal;
  }
  .al-i-c{
    align-items: center;
  }
  circle {
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }
  .cairo{
    font-family: 'cairo';
  }

  .auth{
      position: relative;
  }

  .auth::before{
      content: "";
      mix-blend-mode: multiply;
      background: #03045E;
      position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .lift{
    transform: translateY(-90px);
  }

  .form-control {
    position: relative;
    margin: 20px 0;
  }
  
  .form-control input {
    border: 0;
    border-bottom: 2px solid rgba(100, 124, 143, 0.2);;
    padding: 10px 0;
    display: block;
    font-size: 16px;
    color: #001526;
    font-family: 'cairo';
    width: 100%;
    transition: 0.25s ease-in;
  }
  
  .form-control input:focus{
    border-bottom-color: #1C89EE;
    outline: none;
  }

  .form-control span{
    position: absolute;
    top: 19px;
    right: 15px;
  }
  
  .form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .form-control label {
    position: absolute;
    top: 15px;
    left: 0;
    color: #647C8F;
  }

  input:focus ~ label,input:not(:focus):valid ~ label{
  font-size: 12px;
  transform: translateY(-140%);
  transition: transform 0.18s  ease-in-out;
}

li:hover{
  background: #D7D7F5;
  border-radius: 3px;
  cursor: pointer;
}

.work{
  font-family: 'Work Sans', sans-serif;
}

/* progress ring styling */
.rings{
  height: 80px;
}

.percent1 svg, .percent1 circle {
  width: 80px;
  height: 80px;
}

.rings circle {
  position: absolute;
  fill: none;
  stroke-width: 10;
  transform: translate(10px, 10px);
  stroke-dasharray: 440;
  stroke-linecap: round;
}

.rings circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #424242;
}

.percent1{
  position: relative;
}

.percent1 circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 29) / 100);
  stroke: #1AB00D;
  animation: percent 1.5s linear;
  animation-delay: 1s;
}

.number {
  position: absolute;
  bottom: 35%;
  left: 25px;
  color: #03045E;
}

h2 {
  font-size: 15px;
}

.rings span {
  font-size: 24px;
  opacity: .7;
}

@keyframes percent {
  0% {
    stroke-dashoffset: 0;
    stroke-width: 0;
  }
}